body {
    font-family: 'Roboto Mono';
    font-size: 22px;
    text-align: center;
}

textarea {
    resize: none;
}

.button {
    margin-top: 8px;
    margin-bottom: 8px;
    width: 197mm;
    font-family: 'Roboto Mono';
    font-size: 20px;
    background-color: white;
    border-radius: 4px;
    color: black;
    border: 2px solid black;
}

.button:hover {
    background-color: #555555;
    color: white;
}